.event-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  margin-bottom: 15px;
  background: #eaedf0;
  padding: 5px;
}

.event-container.neutral {
  background: #eaedf0;
}

.event-container.bad {
  background: #ff3007;
}

.event-container.good {
  background: #ff9c00;
}

.event-container.excellent {
  background: #4e81fc;
}

.event-container.bad,
.event-container.good,
.event-container.excellent {
  color: #ffffff;
}

.event-container:last-child {
  margin-bottom: 0;
}

.content-container {
  margin-left: 5px;
}

.title {
  font-size: 14px;
}

.icon {
  align-self: start;
  padding: 6px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  margin: 3px;
  width: 25px;
  height: 25px;
}

.icon svg {
  width: 22px;
  height: 22px;
  fill: #ffffff;
}
