/* хром, сафари */
.container-list::-webkit-scrollbar {
  width: 0;
}

/* ie 10+ */
.container-list {
  -ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
.container-list {
  overflow: -moz-scrollbars-none;
}

.table-list {
  width: 100%;
}

.day,
.day-week {
  text-align: center;
}

.day {
  font-size: 24px;
}

.day-week {
  font-size: 12px;
}

.date {
  width: 12%
}

.event {
  width: 80%;
}