.head-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 5px;
}

.head-container div {
  padding: 0;
}

.container-center {
  text-align: center;
}

.title-char {
  color: #808080;
  font-size: 14px;
}

.ava-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}