.month-year {
  text-transform: capitalize;
}

.day {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.btn-add {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 100;
}

.day__date, .day__events {
  box-sizing: border-box;
}

.day__date {
  padding: 5px;
  margin-right: 5px;
  flex-basis: 35px;
  text-transform: uppercase;
  text-align: center;
}

.day__events {
  padding: 5px;
  flex-shrink: 0;
  flex-basis: calc(100% - 35px - 5px);
}

.day__events__item {
  padding: 5px;
  flex: auto;
  margin-bottom: 5px;
  background: #eaeaea;
}

.day__events__item__icon__container,
.day__events__item__data {
  display: inline-block;
}

.day__events__item__data {
  flex: auto;
}

.day__events__item__icon {
  padding: 5px;
}

.day__events__item__icon svg{
  width: 28px;
  height: 28px;
}

.day__events__item__data__title {
  font-size: 12px;
  color: #828282;
}

.day__events__item__data__value {
  font-size: 16px;
}